
<section class="w3l-clients" id="testimonials">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
                <span class="w3l-title-small">Yorumlar</span>
                <h3 class="w3l-title-main">Müşterilerimin Hakkımdaki Görüşleri</h3>
            </div>
            <div id="owl-demo1" class="owl-carousel owl-theme mt-4 py-2 mb-5">
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    Merhaba Selcuk kozmetik olarak sizden memnun kaldım gayet başarılı site güzel çalışanlarına Teşekkür ederiz. Not: Arkadaşım Tavsiye etti Arda Web tasarımcı ”
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/Content/starter/assets/images/team1.jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Selçuk Bey</h3>
                                    <p class="indentity">Programlama</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    “ Devamlı bir şekilde sorunlarımı gayet hızlı  hallediyorlar. Benim devamlı çalışacağım ve müşterilerimi yönlendirdiğim bir çalışma arkadaşı. Başarıyı hak ediyor.
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/Content/starter/assets/images/team2.jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Bünyamin Bey</h3>
                                    <p class="indentity">Web designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    “ Kendisinin Müşterilerle iletişimi gayet güzel. Destek  gayet başarılı her konuda yardımcı oluyor. İlk defa hizmet alacak veya almayı düşünen var ise kesinlikle tavsiye ederim.”
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/Content/starter/assets/images/team3.jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Ayşe Hanım</h3>
                                    <p class="indentity">Backend Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>
                                    “ Daha önce bilindik büyük firmalarla çalışıyordum sorunları bitmezken çözüm içinde ayrı çaba sarfediyorduk. Kendisi çözüm sunmuyor direkt çözüyor sorunları :)”
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/Content/starter/assets/images/team4.jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Eliz Hanım</h3>
                                    <p class="indentity">Backend Developer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-content">
                        <div class="testimonial">
                            <blockquote>
                                <q>

                                    “ Devamlı bir şekilde sorunlarımı gayet hızlı  hallediyorlar. Benim devamlı çalışacağım ve müşterilerimi yönlendirdiğim bir çalışma arkadaşı. Başarıyı hak ediyor.
                                </q>
                            </blockquote>
                            <div class="testi-des">
                                <div class="test-img">
                                    <img src="~/Content/starter/assets/images/team2.jpg" class="img-fluid"
                                         alt="client-img">
                                </div>
                                <div class="peopl align-self">
                                    <h3>Bünyamin Bey</h3>
                                    <p class="indentity">Web designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>