
<div class="service-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4">
            <h3 class="w3l-title-main">
                Yaratıcı Projelerinizi Desteklemek İçin Yenilikçi Çözümler Sunuyorum
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 item">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="/Services/Index/">
                            <img class="d-block img-responsive" src="~/Content/starter/assets/images/blog3.jpg" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="/Services/Index/" class="service-heading">Projelerinizi görüşelim </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4 pt-sm-0 pt-2">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="/Services/Index/">
                            <img class="d-block img-responsive" src="~/Content/starter/assets/images/blog4.jpg" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="/Services/Index/" class="service-heading">Gerekli çalışmaları yapalım</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-lg-0 mt-4 pt-lg-0 pt-2">
                <div class="card">
                    <div class="card-header p-0 position-relative border-0">
                        <a href="/Services/Index/">
                            <img class="d-block img-responsive" src="~/Content/starter/assets/images/blog6.jpg" alt="card-image">
                        </a>
                    </div>
                    <div class="card-body service-details">
                        <a href="/Services/Index/" class="service-heading">Projeniz hazır </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>