<section class="about-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-chalkboard"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Web Development</a></h5>
                        <p>
                            Web uygulamarı konusunda çok deneyimliyim.Oluşturduğum bir çok proje sayesinde farklı teknolojileri deneyimledim.Bu konuda uzmanım.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fab fa-app-store"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">App Development</a></h5>
                        <p>
                            Mobil cihazlar için yazılım ve uygulamalar hazırlarım.Bu sayede mobil alanında da  projelerinizi  daha geniş kitlelerin ulaşmasını sağlarım.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-camera-retro"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Fotoğrafçılık</a></h5>
                        <p>
                            Projeler için gerekli görselleri profosyonel çekimler oluşturup , görellerinizi gerekli düzenlemelerden geçirip size sunuyorum.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Seo Çalışmaları</a></h5>
                        <p>
                            Gerekli Seo çalışmaları ile web  projelerinin farkını ortaya koyuyorum. Sayfanızın hızını ve ulaşabilirliğinin farkını göreceksiniz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fab fa-buromobelexperte"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Responsive Design</a></h5>
                        <p>
                            Duyarlı tasarım sayesinde web projelerini her türlü ekran boyutuna uygun halde ve düzgün çalışmasını sağlıyorum
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3"><a href="about.html">Digital Pazarlama</a></h5>
                        <p>
                            Firmanın markası için hedef pazar ve kitlesini tespit eder, markayı daha tanınır hale getirir ve kitle iletişimini güçlendiririm.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

