
<!-- map -->
<div class="map mt-5">
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96690.62806702779!2d29.85209942734404!3d40.77121470484527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb4f66644bfb9d%3A0x82690ee7586b7eb9!2zxLB6bWl0LCBLb2NhZWxp!5e0!3m2!1str!2str!4v1681585258348!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- //map -->
